.sayfa {
    margin-top: 20px;
    width: 1500px;
    height: 500px;
    background-color: orange;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .tur {
    align-items: center;
    padding: 30px;
  }
  .tur button {
    width: 600px;
    cursor: pointer;
    height: 35px;
    margin: 5px;
  }
  .basla {
    margin: 10px;
    width: 200px;
    height: 35px;
    cursor: pointer;
  }
  
  .sinavlarim {
    flex-direction: column;
    display: flex;
  }
  .sinavlarim button {
    cursor: pointer;
    width: 700px;
    height: 50px;
    margin: 5px;
  }
  
  .fokus {
    background-color: yellowgreen;
  }