body {
  background-color: white;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  margin-top: 30px;
  width: 1500px;
  height: 700px;
  font-size: 50px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.Menu button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;

  font-size: 30px;
  cursor: pointer;
}
.menudiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 20px;
}
.Menu button:hover {
  background-color: yellowgreen;
}

input {
  width: 1000px;
  height: 50px;
  padding: 3px;
  margin-top: 5px;
}